* {
    font-family: system-ui;
}
.fs-24{
    font-size: 24px;
}
.mt-100{
    margin-top: 100px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-8{
    margin-bottom: 8px;
}
.ml-4{
    margin-left: 4px;
}
.ml-8{
    margin-left: 8px;
}
.mr-4{
    margin-right: 4px;
}
.mr-8{
    margin-right: 8px;
}
.mr-50{
    margin-right: 50px;
}
.message-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.message-card {
    width: 600px;
    padding: 10px;
    background: #f3969a;
    border-radius: 8px;
}

.message-body {
    width: 600px;
    background: white;
    border-radius: 8px;
    position: relative;
}

.message-text {
    width: 555px;
    min-height: 300px;
    font-size: 24px;
    word-break: break-all;
    position: relative;
    padding: 20px;
    line-height: 1.5;
}

.message-foot {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.message-text-foot {
    font-family: "Brush Script MT", "rounded mplus 1c", "m plus rounded 1c", sans-serif;
    padding: 0.5em 0;
    display: flex;
    color: #aaa;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.btn-left {
    background-image: url(https://gitlab.com/thesixleafs/seflmarshmallow/-/raw/main/public/img/left.svg);
}

.btn-right {
    background-image: url(https://gitlab.com/thesixleafs/seflmarshmallow/-/raw/main/public/img/right.svg);

}

.change-btn {
    display: inline-block;
    width: 2rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;

}
.flex{
    display: flex;
    justify-content: center;
}

.flex-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}
.button[btn-type="download"]{
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.button:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}

.button[btn-type="download"]:hover{
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}


.change-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    font-size: 24px;
    margin-bottom: 15px;
}

input[type="color"]{
    width: 268px;
    height: 34px;
}
input[type="file"]{
    width: 268px;
    height: 34px;
    font-size: 18px;
}

input {
    font-size: 24px;
    border-radius: 0.25rem;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
}
.change-number{
    text-align: right;
    width: 100px;
}

input:hover,
input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}



#self-img{
    height: 70px;
}

.draggable {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: grab;
}

.btn-delete{
    margin-left: 12px;
}